header{
    color: white;
    background-color: rgb(0, 0, 0);
}


.holder h2{
    margin-top: 27px;
    padding-bottom: 30px;
    padding-left: 180px;
}


.slogan h1{
    margin-top: 15px;
    margin-right: -800px;
    padding-right: 700px;
}

main {
margin-top: 60px;
margin-bottom: 50px;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}