 <main class="holdercontac">
 <div class="formu">
            <h2>Contactese Aquí:</h2>

            <form action="contacto" metod="post" class="formulario">
                <p>
                    <label for="Nombre">Nombre</label>
                    <input type="text" name="nombre">
                </p>
                <p>
                    <label for="Email">E-mail</label>
                    <input type="text" name="email">
                </p>

                <p>
                    <label for="Telefono">Telefono</label>
                    <input type="text" name="telefono">
                </p>

                <p>
                    <label for="Mensaje">Mensaje</label>
                    <textarea name="mensaje"></textarea>
                </p>

                <p class="acciones">
                    <input type="submit" value="Enviar mensaje">
                </p>

            </form>
            <p>{{message}}</p>
        </div>

        <div class="datos">
            <h2>Otras Vias de Comunicacion</h2>
            
            <p>Tambien puede contactarse con nosotros usando los siguientes medios:</p>
            <ul>
                <li><u>Tel</u>: <em>2236489594</em></li>
            </br>
                <li><u>Email</u>: <em>astraldistribuidora@hotmail.com</em></li>
            </br>
                <li><u>Instagram</u>:<em>AstralDistibuyer.ok</em></li>
            </br>
                <li><u>Twitter</u>: <em>AstralDistibuyer.ok</em></li>
            </ul>

            <img src="images/Contacto.png" alt="" width="400px" height="250px">

        </div>
        </main>