 <h1 style="text-align: center;">CENTROS NACIONALES DE CARGAMENTOS</h1>

        <div class="galeria" style="text-align: center;">

            <img src="images/Logistica (1).jpeg" alt="Centro de carga Ushuaia" width="800px">

            <P>
                Centro de carga de Ushuaia, cuenta con 80 mts cuadrados, fue el primer centro en dar marcha
                a los despachos en toda la Nacion Argentina.
            </P>

            <img src="images/Logistica (2).jpg" alt="Centro de carga Santa Fe" width="800px">

            <P>
                Centro de carga de Santa Fe, cuenta con 123 mts cuadrados, es el ente distribuidor con más solicita por el momento.
            </P>

            <img src="images/Logistica (3).jpg" alt="Centro de carga Buenos Aires" width="800px">

            <P>
                Centro de carga de Buenos Aires, prioriza importaciones de paises aledaños vinculado directo a la aduana, cuenta con 100 mts cuadrados.
            </P>

        </div>
