 <center><img src="images/Bienvenidos.jpg" alt="Bienvenidos" style="width:1000px; align-items: center;"></center>

        <h1 style="text-align: center;">BIENVENIDOS AL NUEVO MUNDO DEL TRASLADO AÉREO</h1>

        <div class="columnas">

            <div class="texto">

                <p>La economía actual se caracteriza por su dinamismo. Y este dinamismo es consecuencia tanto
                    de la
                    globalización política como económica. La existencia de una multiplicidad de organizaciones e
                    instituciones
                    internacionales de dimensión económica como la OMC o el FMI y el auge de la figura del transitario
                    en el
                    transporte de mercancías están dando soporte a unas tendencias de mercado. En estas tendencias está
                    cobrando
                    especial importancia el sector del transporte y, en particular, el transporte aéreo. </br>
                    </br>
                    <u><b>¿Cómo ha evolucionado el volumen de mercancías movido por el transporte aéreo?</u></b>
                    El avión se ha convertido en las últimas tres décadas en un medio de transporte de mercancías cada
                    vez más
                    importante en a nivel mundial. Si en 1980 se transportaban 4 millones de toneladas de carga, en 2013
                    este
                    nivel ascendió hasta los 49,8 millones. Asimismo, las estimaciones más recientes apuntan a que
                    dentro de
                    unos 15 años, en 2035, el volumen de carga superará las 150 millones de toneladas, lo que demuestra
                    que el
                    sector de transporte aéreo está experimentando un crecimiento más que notable.

                    En España, según los últimos datos proporcionados por AENA, en el bieno 2014 – 2015 se ha
                    incrementado un
                    4,7% el volumen de carga, es decir, se ha pasado de 688.000 a 715.000 toneladas.</br>
                    </br>
                    <u><b>¿Qué diferencia existe entre una línea regular y un vuelo charter y cómo afecta esto al
                        transporte aéreo de mercancías?</b></u>
                    Como toda empresa, una aerolínea planifica su actividad con antelación. Así, se considera que
                    estamos ante
                    una línea o vuelo regular en el caso de que la ruta que se realiza se encuentre dentro de la
                    planificación
                    ordinaria de la compañía.

                    De lo contrario, nos encontraríamos ante un vuelo charter. En estos casos, la persona o empresas
                    interesadas
                    conciertan previa solicitud con una compañía aérea el flete de un servicio charter para realizar el
                    trayecto
                    deseado. Este tipo de vuelos se suelen utilizar con ocasión de la celebración de grandes eventos,
                    como los
                    deportivos o los conciertos, para llevar al público que lo solicite a su destino o para el
                    transporte de
                    determinadas personas o cosas.

                    En el ámbito del transporte aéreo de mercancías, las principales compañías aéreas utilizan líneas
                    regulares
                    para el transporte de mercancías. Éste se realiza en régimen de carta de porte, cuyo objeto de
                    contrato es
                    la prestación de un servicio de transporte (prueba la existencia de un contrato de transporte y
                    justifica el
                    envío de la mercancía). Es la factura del flete pero no otorga la propiedad de la mercancía.

                    Por el contrario, el transporte de mercancías en un charter se realiza en régimen de fletamento
                    aéreo o
                    vuelo charter. El objeto del contrato es una aeronave. El contrato se materializa en una “póliza de
                    fletamento aéreo”. </br>
                    </br>
                    <u><b>¿Qué papel juegan los aeropuertos en el transporte aéreo de mercancías</u>? ¿<u>Y qué papel
                        tienen los transitarios en este sistema comercial?</u></b>
                    Los aeropuertos juegan un papel fundamental en el sistema de comercio internacional. Son los
                    encargados de
                    que la mercancía parta de su destino así como de recibir y custodiar aquéllas que lleguen a sus
                    instalaciones con el fin último de hacerla llegar a sus destinarios finales.

                    Dentro de este sistema, el transitario cobra una especial importancia. A diferencia del transporte
                    marítimo,
                    el transporte aéreo internacional de mercancías todavía no se encuentra lo suficientemente
                    desarrollado.
                    Salvo en el caso de grandes empresas, el resto necesitan de la actuación de agentes transitarios
                    para
                    ponerse en contacto con los aeropuertos y, sobre todo, con las compañías de vuelo. Esto es
                    fundamental para
                    gestionar el tránsito de la carga así como su almacenamiento, custodia y entrega. Los transitarios
                    serán así
                    los encargados de negociar el régimen de circulación de la mercancía actuando como intermediarios
                    entre el
                    distribuidor y el cliente. </br>
                    </br>
                    <u><b>¿Qué es un centro de carga?</b></u>
                    En los aeropuertos se pueden distinguir dos zonas según sean utilizadas para el embarque de personas
                    o de
                    mercancías. De este modo, si en el caso de las áreas de embarque para personas hablamos de
                    terminales de
                    embarque (o, sencillamente, de terminales), en el caso de que dicha terminal se utilice para la
                    carga y
                    descarga de mercancías hablamos de centros de carga.

                    Los centros de cargas han ido evolucionando con el tiempo y hoy en día su gestión se encuentra
                    totalmente
                    informatizada. Cuenta con dos caras o accesos. El acceso aéreo lo forman un conjunto de muelles,
                    plataformas
                    y circuitos por donde transitan las mercancías entre los aviones y los sistema de almacenaje, carga
                    y
                    descargas de las mercancías. El acceso terrestre, por otra parte, consta de las instalaciones
                    suficientes
                    para el transporte rodado de las mercancías.

                    Puesto que estas instalanciones están en continuo desarrollo, lo más habitual es que hoy en día
                    éstas se
                    encuentren fusionadas en un centro de carga. Esta distribución favorece una mayor interoperabilidad
                    entre
                    las partes intervinientes.
                </p>

            </div>

            <div class="testimonios">

                <center><h2>TESTIMONIOS</h2></center>
                <div class="testimonio">

                    <p class="testi"> EL MEJOR SERVICIO QUE USE, Y SIGO USANDO HACE AÑOS</p>

                    <p class="autor"> Juan Manuel - 41 Años</p>

                    <p class="testi"> NUNCA ME FALLÓ UN SOLO VIAJE, UNA ATENCION INCREIBLE</p>

                    <p class="autor"> Ramon Baldes - 34 Años</p>

                    <p class="testi"> ESTA GENTE NO TIENE COMPETENCIA</p>

                    <p class="autor"> Zamira Gutierrez - 28 Años</p>

                    <p class="testi"> ME LLEGARON TODOS MIS PEDIDOS EN TIEMPO Y FORMA!</p>

                    <p class="autor"> José Raul Olivos - 51 Años</p>

                    <p class="testi"> NO TE VAS A ARREPENTIR, MUY CONFIABLES</p>

                    <p class="autor"> Nicolas Everg - 19 Años</p>

                    <p class="testi"> A MI FAMILIA SIEMPRE LE LLEGO TODOS LOS ENVIOS</p>

                    <p class="autor"> Ezequiel Barbieri - 26 Años</p>

                </div>

            </div>

        </div>