<div class="Ejecutivos">

    <h1 style="text-align: center;">CONOCÉ NUESTRO EQUIPO DE TRABAJO</h1>
    <div class="personas">

        <div class="persona">
            <img src="images/Empleado (1).jpg" alt="Julio Wichter" width="300px">
            <div class="texto">
                <h2>Julio Wichter | CEO </h2>
                <p>Sus principales responsabilidades podrían resumirse en: mantener las relaciones con los inversores y
                    accionistas, identificar y fijar las prioridades según el periodo; y definir las estrategias
                    globales de la compañía en áreas como IT, HR o Business (alinea todas las áreas que dan soporte al
                    business).</p>
            </div>

        </div>

        <div class="persona">
            <img src="images/Empleado (2).jpg" alt="Analia E. Murphy" width="300px">
            <div class="texto">
                <h2>Analia E. Murphy | Gerente de Vuelos</h2>
                <p>El gerente es la persona que ocupa el cargo de dirección de una empresa o un área específica. En la
                    concepción tradicional se encarga de la parte operativa de la coordinación de personal y recursos
                    para alcanzar los objetivos empresariales.</p>
            </div>

        </div>

        <div class="persona">
            <img src="images/Empleado (4).jpeg" alt="Enrique Morales" width="300px">
            <div class="texto">
                <h2>Enrique Morales | Financista Contador </h2>
                <p>Los profesionales de finanzas están encargados de diseñar planes de acción en base a todo el capital
                    disponible en su ámbito de trabajo, con el fin de que todas las áreas de una empresa puedan
                    funcionar correctamente. Por medio del análisis de condiciones y el uso de las ultimas tecnologías.
                </p>
            </div>
        </div>

        <div class="persona">
            <img src="images/Empleado (3).jpg" alt="Esteban Rodriguez" width="300px">
            <div class="texto">
                <h2>Esteban Rodriguez | Comunity Manager </h2>
                <p>Un community manager se encarga de construir, ampliar y administrar comunidades online. A través de
                    herramientas analíticas que le permiten medir cómo los usuarios entienden y perciben a una marca
                    determinada, intentan que esa sensación se asemeje lo más posible al objetivo de comunicación de la
                    empresa.</p>
            </div>
        </div>

    </div>

</div>